.odd {
  background-color: hsl(0, 100%, 75%);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#blue {
  color: hsl(240, 100%, 50%);
  font-size: 36px;
}

.bigger {
  font-size: 24px;
}

#green {
  background-color: hsl(120, 100%, 50%);
  font-size: 24px;
  font-weight: bold;
}
