* {
  box-sizing: border-box;
}
/* added display flex column */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* changed font weight and size, also changed height and added padding, added flex and centered vertically with align */
.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: 32px;
  padding: 16px;
  height: auto;
  display: flex;
  align-items: center;
}
/* added container div and flex to it to space sidebar and content */
.container {
  display: flex;
  flex: 1;
}
/* added flex and padding */
.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 0 0 250px;
  padding: 16px;
}
/* styled list and removed default padding */
ul {
  list-style: none;
  padding: 0;
}
/* added margin to space each listing */
li {
  margin-bottom: 1.5em;
}
/* removed text decoration and changed font size */
a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
/* created div cards to space all the card inside */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1.5em;
}
/* added flex to space cards into 3 columns and added padding to space content inside each card */
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  flex: 0 0 28%;
  padding: 16px;
}

/* added bold, increased size of font, flex and centered content inside div */
.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
